:root {
  --mobile-breakpoint: 720px;
  --cc-blue: #034ad8;
  --highlight: #FFC741;

}

body {
  background-color: #f5f5f5;
}

.app {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.title {
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
}

header {
  height: 120px;
  background: var(--cc-blue);
  border-radius: 0 0 20px 20px;
  padding: 20px 50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
}

.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(30vh + min(12.5vw, 7.5vh));
}

.header-balloon {
  width: 120vw;
  height: 60vh;
  background: #fdfdfd;
  position: relative;
  border-radius: 50%;
  margin-left: -10%;
  transform: translateY(-30vh);
}

.header-image {
  position: absolute;
  bottom: 0;
  background-color: var(--cc-blue);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  max-width: min(50vw, 30vh);
  max-height: min(50vw, 30vh);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 7px 18px 0px rgba(53, 67, 97, 0.15);

}

.module-page {
  text-align: center;
}

.module-text {
  max-width: 720px;
  padding: 0 25px;
  margin: 0 auto;
}

.module-title {
  margin: 67px auto 0 auto;
  color: var(--cc-blue);
}

.module-description {
  margin: 36px auto;
  letter-spacing: 0.05em;
  color: #424141;
  opacity: 0.8;
}

.header-title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  color: white;
  font-weight: bold;
}

.processbar {
  max-width: 510px;
  height: 22px;
  width: 100%;
  position: relative;
}

.processbar-whole {
  width: 100%;
  height: 12px;
  background: #fdfdfd;
  border-radius: 10px;
  position: absolute;
}

.processbar-fill {
  width: var(--process);
  height: 12px;
  background: var(--highlight);
  border-radius: 10px;
  position: absolute;
}

.processbar-text {
  max-width: 510px;
  font-size: 16px;
  line-height: 19px;
  color: var(--cc-blue)
}

.QA {
  max-width: 510px;
  margin: 40px auto 0;
  padding: 0 50px;
}

.QA-question {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 36px;
}

@media screen and (max-width: 610px) {
  .QA-question {
    font-size: 20px;
    line-height: 27px;
  }

  .title {
    font-size: 32px;
    line-height: 38px;
  }

  .button {
    font-size: 16px;
  }
}

.QA-item {
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.QA-item-option {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  vertical-align: middle;
}

.QA-item-answer {
  flex: 1 0;
  text-align: left;
  hyphens: auto;
}

.button {
  /* border: var(--cc-blue) 2px solid; */
  font-size: 20px;
  box-shadow: 0px 7px 18px 0px rgba(53, 67, 97, 0.15);
}

.button--primary {
  color: white;
  background-color: var(--cc-blue);
}

.button--secondary {
  color: #354361;
  background-color: white;
}

.button--title-screen {
  background: var(--cc-blue);
  border-radius: 8px;
  border: none;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px 30px;
  display: inline-block;
}

@media (hover: hover) {
  .button--primary:hover {
    background: white;
    color: var(--cc-blue);
    transition-duration: 0.2s;
  }

  .button--secondary:hover {
    background: var(--cc-blue);
    color: white;
    transition-duration: 0.2s;
  }
}

.QA-item:active {
  background: var(--cc-blue);
  color: white;
  transition-duration: 0.2s;
}
