:root {
  --mobile-breakpoint: 720px;
  --cc-blue: #034ad8;
}

.app {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

@media screen and (max-width: 610px) {
    .title {
      font-size: 20px;
      line-height: 27px;
    }
}

header {
  height: 150px;
  background: #c4c4c4;
  border-radius: 0 0 20px 20px;
  padding: 0 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(30vh + min(12.5vw, 7.5vh));
}

.header-balloon {
  width: 120vw;
  height: 60vh;
  background: grey;
  position: relative;
  border-radius: 50%;
  margin-left: -10%;
  transform: translateY(-30vh);
}

.header-image {
  position: absolute;
  bottom: 0;
  background-color: var(--cc-blue);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  max-width: min(50vw, 30vh);
  max-height: min(50vw, 30vh);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.module-page {
  text-align: center;
}

.module-text {
  max-width: 720px;
  padding: 0 25px;
  margin: 0 auto;
}

.module-title {
  margin: 67px auto 0 auto;
}

.module-description {
  margin: 36px auto;
  letter-spacing: 0.05em;
  color: #424141;
  opacity: 0.8;
}

.header-title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}

.processbar {
  max-width: 510px;
  height: 22px;
  width: 100%;
  position: relative;
}

.processbar-whole {
  width: 100%;
  height: 22px;
  background: #e5e5e5;
  border-radius: 10px;
  position: absolute;
}

.processbar-fill {
  width: var(--process);
  height: 22px;
  background: var(--cc-blue);
  border-radius: 10px;
  position: absolute;
}

.processbar-text {
  max-width: 510px;
  font-size: 16px;
  line-height: 19px;
}

.QA {
  max-width: 510px;
  margin: 50px auto 0;
  padding: 0 50px;
}

.QA-question {
  margin-bottom: 40px;
  font-size: auto;
}

.QA-item {
  padding: 20px;
  width: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 8px;
  border: none;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

@media (hover: hover) {
  .QA-item:hover {
    background: var(--cc-blue);
    color: white;
    transition-duration: 0.2s;
  }
}

.QA-item:active {
  background: var(--cc-blue);
  color: white;
  transition-duration: 0.2s;
}

.QA-item-option {
  display: inline-block;
  font-size: 36px;
  line-height: 43px;
  vertical-align: middle;
}

.QA-item-answer {
  flex: 1 0;
}

.button {
  max-width: 290px;
  width: 100%;
  height: 56px;
  background: var(--cc-blue);
  border-radius: 8px;
  border: none;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}
